# Build
build/
build-*/
build-nuget/
cmake-build-*/
out/
prefix/
prefix-*/
smoke-find/
dist/
artifact/

# IDE / tooling
.vs/
.idea/
.cache/
compile_commands.json

# Artifacts
*.user
*.suo
*.obj
*.pdb
*.ilk
*.exp
